<div class="surface-0 flex justify-content-center mt-3">
  <div id="home" class="landing-wrapper overflow-hidden">
    <div
      id="hero"
      class="flex flex-column pt-4 px-4 lg:px-8 overflow-hidden"
      style="
        background: linear-gradient(
            0deg,
            rgba(237, 241, 241, 0.2),
            rgba(8, 111, 230, 0.2)
          ),
          radial-gradient(
            50.36% 256.97% at 77.36% 57.52%,
            #eeefaf 0%,
            #c3e3fa 100%
          );
        clip-path: ellipse(150% 87% at 93% 13%);
      "
    >
      <div class="mx-4 md:mx-8 mt-0 md:mt-4">
        <h1 class="text-6xl font-bold text-gray-900 line-height-2">
          <span class="font-light block">Ecommerce Demo </span>PrimeNG
        </h1>
        <p class="font-normal text-2xl line-height-3 md:mt-3 text-gray-700">
          Sed blandit libero volutpat sed cras. Fames ac turpis egestas integer.
          Placerat in egestas erat...
        </p>
        <button
          pButton
          pRipple
          type="button"
          label="Get Started"
          class="p-button-rounded text-xl border-none mt-3 bg-blue-500 font-normal line-height-3 px-3 text-white"
        ></button>
      </div>
    </div>
  </div>
</div>
