<div *ngIf="cart.lines.length > 0; else nothing">
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-3xl">
      <span class="text-blue-600">Cart Details</span>
    </div>
  </div>
  <p-table [value]="cart.lines" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Qty</th>
        <th>Product</th>
        <th>Price</th>
        <th>Subtotal</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-line>
      <tr>
        <td>
          <input
            type="number"
            class="form-control-sm"
            style="width: 5em"
            [value]="line.quantity"
            pInputText
            (change)="cart.updateQuantity(line.product, $event)"
          />
        </td>
        <td>{{ line.product.name }}</td>
        <td>{{ line.product.price }}</td>
        <td>
          {{ line.lineTotal | currency : "GBP" : "symbol" : "2.2-2" }}
        </td>
        <td>
          <p-button
            label="Remove"
            styleClass="p-button-danger"
            (click)="cart.removeLine(line)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-divider></p-divider>

  <p>Total: {{ cart.cartPrice | currency : "GBP" }}</p>
  <button
    pButton
    label="Check Out"
    iconPos="right"
    class="p-button-lg p-button-success"
    [routerLink]="['/checkout']"
  ></button>
</div>

<ng-template #nothing>
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-3xl">
      <span class="text-900">Your cart is empthy </span>
    </div>
  </div>
</ng-template>
